**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Dockerfile.*
**/infra
**/*.md
.circleci
.env.*
env-*
install.sh
integration_tests
plans
LICENSE-*
Makefile
README.md
**/*.toml