./integration_tests/
./plans/

**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitkeep
**/.gitmodules
**/Dockerfile
**/Dockerfile.*
**/infra
.circleci
**/*.md
Makefile
LICENSE-*
.env.*
**/*.toml
