---
# Changes from defaults:
# * enable redis exporter
# * enable the serviceMonitor so it will be picked up by prometheus
# * Disable cluster mode -- there are failure modes which could result in
#   dataloss after acknowledgement.
# * SecurityContext and sysctlImage provides tuning for redis to provide for 10k
# * Master resources is setup to be a large value so redis will be mostly
#   singele-tenant.
# * podAnnotations is set to flannel to force it to be on the control network.
redis:
  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: default
    resources:
      requests:
        memory: 256Mi
        cpu: 200m
      limits:
        memory: 256Mi
        cpu: 200m
  cluster:
    enabled: false
  usePassword: false
  securityContext:
    sysctls:
      - name: net.core.somaxconn
        value: "131072"
      - name: net.netfilter.nf_conntrack_max
        value: "1048576"
  master:
    persistence:
      enabled: false
    extraFlags:
      - "--maxclients 131072"
    nodeSelector:
      testground.nodetype: infra
    podAnnotations:
      cni: flannel
    resources:
      requests:
        memory: 12000Mi
        cpu: 4000m
      limits:
        memory: 12000Mi
        cpu: 4000m
