# Pause for 10 seconds for worker nodes to connect to master
- pause:
    seconds: 10

- name: Create Testground overlay control network
  docker_network:
    name: control
    driver: overlay
    attachable: yes
    enable_ipv6: no
    ipam_config:
      - subnet: 10.1.0.0/16

# Pause for 20 seconds to propagate network to workers
- pause:
    seconds: 20

- name: Start Redis service
  docker_swarm_service:
    name: testground-redis
    image: "redis:latest"
    command: redis-server
    args:
      - --notify-keyspace-events $szxK
      - --save ""
      - --appendonly no
    networks:
      - control
    placement:
      constraints:
        - node.labels.TGRole == redis

# Pause for 20 seconds after starting redis
- pause:
    seconds: 20
